.react-international-phone-input-container .react-international-phone-input {
  flex: 0 0 84%;
  border-top-right-radius: calc(var(--radius) - 2px);
  border-bottom-right-radius: calc(var(--radius) - 2px);
  background-color: hsl(var(--background));
  border-color: hsl(var(--input));
  border-width: 1px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  height: 2.5rem;
}
.react-international-phone-country-selector-button {
  border-color: hsl(var(--input));
  border-top-left-radius: calc(var(--radius) - 2px);
  border-bottom-left-radius: calc(var(--radius) - 2px);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  height: 2.5rem;
}
